.jumbotron {
    height: 110vh;
    background-image: url(../public/background1.jpg);
    background-size: cover;
    display: flex;
    margin-bottom: 0;
}

.container {
    width: 60%;
    height: 100%;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.formcontainer {
    width: 70%;
    height: 100%;
    margin: auto;
}

.heading {
    margin-top: 20px;
    color: black;
    font-size: 30px;
    text-align: center;
}

.secondName {
    color: #53917E;
}

.form {
    margin-top: 40px;
}

.button {
    height: 40px;
    width: 50%;
    background-color:  #53917E;
    border: none;
}

@media only screen and (max-width: 768px) {
    .heading, .secondName {
        font-size: 20px;
    }

    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    
    .container {
        height: 90%;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 425px) {
    
    .formcontainer {
        
        width: 100%;
    }

    .container {
        width: 90%;
    }
}



