.jumbotron {
    background-color: #393E41;
    margin: 0;
    height: 40vh;
    text-align: center;
}

.container {
    height: 90%;
    margin: auto;
}

.icons {
    color:white;
    margin-right: 40px;
}

.icons:hover {
    color:#53917E;
    transition: 0.3s ease;
}

.secondName {
    color: #53917E;
}

.p {
    color:white;
    font-size: 30px;
}
