#navbar {
    margin-bottom: 0px;
    padding-bottom: 0;    
}

.navitems {
    margin-right: 10%;
    min-width: 300px;
}

.navitems * {
    margin-left: 40px;
}

/* --- Classes applied on scroll --- */

.isScrolledText {
    color: black;
    font-size: 20px;
    transition: '0.3s ease';
}

.notScrolledText {
    color: white;
    font-size: 20px;
    transition: '0.3s ease';
}

.isScrolledSection {
    background-color: white;
}

.notScrolledSection {
    background-color: transparent;
}

/* --- Media Queries ---*/

@media only screen and (max-width: 768px) {
    #navbar {
      background-color: white;
    }

    #navbrand {
        color: black;
    }

    p.isScrolledText {
        color: black;
    }

    p.notScrolledText {
        color: black;
    }
  }













