#navbar {
    margin-bottom: 0px;
    padding-bottom: 0;    
}

.navitems {
    margin-right: 10%;
    min-width: 300px;
}

.navitems * {
    margin-left: 40px;
}

.navHeading {
    font-size: 20px;
    color: white;
    transition: '0.3s ease', 
}

#brandText {
    color: white;
}

.isScrolled {
    color: black;
}

.notScrolled {
    color: white
}













