#navbar {
    margin-bottom: 0px;
    padding-bottom: 0;    
}

.navitems {
    margin-right: 10%;
    min-width: 300px;
}

.navitems * {
    margin-left: 30px;
}

.secondName {
    color: #53917E;
}

/* --- Classes applied on scroll --- */

.isScrolledBrand {
    color: black;
    font-size: 20px;
}

.notScrolledBrand {
    color: white;
    font-size: 20px;
}



.isScrolledText {
    color: black;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
}


.notScrolledText {
    color: white;
    font-size: 20px;
    position: relative;
    text-decoration: none;
}


.notScrolledText:hover, .isScrolledText:hover {
    color:  #53917E;
}

.notScrolledText::before, .isScrolledText::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #53917E;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.notScrolledText:hover::before, .isScrolledText:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.isScrolledSection {
    background-color: white;
}

.notScrolledSection {
    background-color: transparent;
}

/* --- Media Queries ---*/

@media only screen and (max-width: 768px) {
    #navbar {
      background-color: white;
    }

    #navbrand {
        color: black;
    }

    p.isScrolledText {
        color: black;
    }

    p.notScrolledText {
        color: black;
    }
}


/* --- Resize navbar text to fit smaller screens --- */
@media only screen and (max-width: 900px) {
    p.isScrolledText, p.notScrolledText {
        font-size: 15px;
    }
}













