.jumbotron {
    margin-top: 0;
    height: 100vh;
    background-image: url(../public/background1.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
}

.container {
    text-align: center;
    height: 90%;
    width: 100%;
}

#p {
    color: white;
    font-size: 20px;
}

.textdiv {
    width: 70%;
    height: 30%;
    margin: auto;
}

.heading {
    color: white; 
    letter-spacing: 9px;
}

.p {
    color: white;
    font-size: 20px;
}

.secondName {
    color: #53917E;
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .textdiv {
        margin-top: 30%;
    }
}


