.jumbotron {
    height: 110vh;
    margin-bottom: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.textcontainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.textcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    width: 45%;
}

.heading {
    margin-bottom: 15px;
}

.subheading {
    margin-bottom: 65px;
}

.secondName {
    color: #53917E;
}

@media only screen and (max-width: 768px) {

    .jumbotron {
        height: 145vh;
        padding-left: 0;
    }

    .textcontainer {
        flex-direction: column;
        align-content: center;
        margin-bottom: 0px;
    }

    .textcontainer2 {
        flex-direction: column;
        align-content: center;
    }

    .heading {
        text-align: center;
    }

    .subheading {
        text-align: center;
    }

    .text {
        width: 80%;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 610px) {

    .jumbotron {
        height: 165vh;
    }
}

@media only screen and (max-width: 430px) {

    .jumbotron {
        height: 195vh;
    }
}

@media only screen and (max-width: 340px) {

    .jumbotron {
        height: 215vh;
    }
}